main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.results-box {
    width: 30%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 300px;
    height: auto;
    background: white;
    border: black 3px solid;
    border-radius: 3px;
    font-size: .9rem;
    border-collapse: collapse;
}

th {
    height: 50px;
    width: 100%;
    padding: 0px 10px;
    background: rgb(27, 27, 27);
    color: white;
}

tr {
    height: 35px;
    width: 100%;
    border-top: 1px black solid;
}

td {
    padding: 0px 10px;
}

img {
    height: 35px;
    width: auto;
}

.pokemon-name  {
    text-align: left;
}

.seen {
    text-align: center;
}

.caught {
    text-align: center;
}

button {
    height: 30px;
    background: white;
    color: rgb(27, 27, 27);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: rgb(255, 102, 0) 3px solid;
    border-radius: 5px;
    margin: 25px;
}

button:hover {
    background-color: white;
    columns: black;
    border: black 3px solid;
    border-radius: 5px;
}

button:focus {
    background: black;
    color: white;
    border:black 3px solid;
    border-radius: 5px;
}

